
.junto[data-v-c29c18cc] { white-space: nowrap;
}
.varia-desce[data-v-c29c18cc] { color: #e34948; font-weight: 600; white-space: nowrap;
}
.varia-sobe[data-v-c29c18cc] { color: #008300; font-weight: 600; white-space: nowrap;
}
