
.junto[data-v-590d8666] { white-space: nowrap;
}
.varia-desce[data-v-590d8666] { color: #e34948; font-weight: 600; white-space: nowrap;
}
.varia-sobe[data-v-590d8666] { color: #008300; font-weight: 600; white-space: nowrap;
}
