
.como-interagir[data-v-88cb22c3] { font-size: 14px;
}
.varia-desce[data-v-88cb22c3] { color: #e34948; font-weight: 600; white-space: nowrap;
}
.varia-sobe[data-v-88cb22c3] { color: #008300; font-weight: 600; white-space: nowrap;
}
