
.junto[data-v-7a290340] { white-space: nowrap;
}
.varia-desce[data-v-7a290340] { color: #e34948; font-weight: 600; white-space: nowrap;
}
.varia-sobe[data-v-7a290340] { color: #008300; font-weight: 600; white-space: nowrap;
}
