
.composicao-segmento[data-v-0ad8ae7d] { transform-box: view-box;
}
.composicao-segmento-suave[data-v-0ad8ae7d] { transition: transform 0.35s ease, fill 0.35s ease;
}
.composicao-legenda-classe[data-v-0ad8ae7d] { white-space: normal;
}

.par-marca[data-v-464c7603] { white-space: nowrap;
}
.como-interagir[data-v-464c7603] { font-size: 14px;
}
