
.estados-no-tempo-texto[data-v-09be4523] { max-width: 1180px;
}
.estados-no-tempo-texto p[data-v-09be4523] { margin: 0 0 8px;
}
.tempo-desce[data-v-09be4523] { color: #e34948; font-weight: 600; white-space: nowrap;
}
